[Desktop Entry]
Encoding=UTF-8
Name=Zotac Setup
GenericName=setup
Comment=Zotac Setup
Exec=/usr/bin/gnome-terminal -e /home/eze_zbox/menu.sh --full-screen
Terminal=false
Type=Application
Categories=Application;
